Repository hashgraph/hedera-mirror-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/mirror-node, @hashgraph/devops-ci, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

# Default code owners for entire repository
*   @hashgraph/mirror-node

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/mirror-node @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/mirror-node

# Codacy Tool Configurations
/config/                                        @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
.remarkrc                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

# Git Ignore definitions
**/.gitignore                                   @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
**/.gitignore.*                                 @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

Deploy v0.118.0 to common,mainnet-citus in mainnet-eu
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Upgrade integration to main 41d9fd7fab71625aa3851d91fbddd4c1002c3102
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Deploy v0.118.0 to mainnet-eu (#9834)
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Bump com.hedera.hashgraph:app from 0.55.2 to 0.56.6 (#9832)
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/NetworkInfoImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
Owners: @hashgraph/mirror-node

Upgrade integration to main 7ba766b73be1a59703925da89be3c67c0edcd463
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Modified the query to return all relevant transactions (#9808)
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/transactions.js
Owners: @hashgraph/mirror-node

Upgrade integration to main 6f13b056c4192dbf3556d67aabdab12d4b7fdaca
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Bump versions for v0.119.0-rc1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-test/traffic-replay/log-downloader/package-lock.json
  hedera-mirror-test/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node

Bump versions for v0.120.0-SNAPSHOT
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-test/traffic-replay/log-downloader/package-lock.json
  hedera-mirror-test/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node

prepare previewnet for 119
  clusters/previewnet/common/helmrelease.yaml
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

* prepare staging mainnet-citus for 119 * prepare preprod for mainnet-citus 119
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Prepare previewnet for 119 (#9837)
  clusters/previewnet/common/helmrelease.yaml
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Bump versions for v0.120.0-SNAPSHOT (#9836)
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-test/traffic-replay/log-downloader/package-lock.json
  hedera-mirror-test/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node

Upgrade integration to main da4f353b85ea90c59beff9f644e8fdc4d6c6fb5d
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Prepare staging mainnet-citus and preprod performance-citus for 119 (#9838)
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Add spotlessCheck job to the security CI workflow
  .github/workflows/security.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Apply spotless formatting to the whole project
  buildSrc/src/main/kotlin/openapi-conventions.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/SpringApplicationContext.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/cache.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-test/k6/src/rest-java/libex/constants.js
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonPrecompileModificationFunctionsTemplate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferHbars.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDeleteToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileMintToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileNestedAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionHashParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionIdParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractResultRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EthereumTransactionRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/TransactionHashParameterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/PauseLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnpauseLogicTest.java
Owners: @hashgraph/mirror-node

Refactor lambda expression to have only one invocation possibly throwing runtime exception
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
Owners: @hashgraph/mirror-node

HIP 904 Add token association for claim airdrop
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTokenUpdateAirdropTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenAssociateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCancelAirdropTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCancelAirdropTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandlerTest.java
Owners: @hashgraph/mirror-node

Refactor method name
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTokenUpdateAirdropTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenAssociateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandlerTest.java
Owners: @hashgraph/mirror-node

Implemented the nonce filter logic for transactionhash request
  hedera-mirror-rest/transactions.js
Owners: @hashgraph/mirror-node

chore: Updating action to step security maintained version.
  .github/workflows/release-automation.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Apply spotless formatting to the whole project (#9840)
  buildSrc/src/main/kotlin/openapi-conventions.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/SpringApplicationContext.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/cache.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-test/k6/src/rest-java/libex/constants.js
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonPrecompileModificationFunctionsTemplate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferHbars.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDeleteToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileMintToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileNestedAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionHashParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionIdParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractResultRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EthereumTransactionRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/TransactionHashParameterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/PauseLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnpauseLogicTest.java
Owners: @hashgraph/mirror-node

chore: Updating action to step security maintained version. (#9844)
  .github/workflows/release-automation.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Upgrade integration to main 82a81df5d807dfc59372addfe859ebdc98ce334a
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Upgrade integration to main 67adf6b9ec55bcc142feda87a6a1955379a1e140
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Update spotless-check job in the security CI workflow
  .github/workflows/security.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

add a script to restore SGShardedBackup without recreating brand new volumes
  docs/runbook/scripts/restore-stackgres-backup.sh
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/scripts/volume-snapshot.sh
Owners: @hashgraph/mirror-node

add a readme
  docs/runbook/restore-citus-from-stackgres-backup.md
Owners: @hashgraph/mirror-node

minor
  docs/runbook/scripts/restore-stackgres-backup.sh
  docs/runbook/scripts/utils.sh
Owners: @hashgraph/mirror-node

Upgrade integration to main 2db2e20feefdd80d18c2b3bbd8590f167ab6bd37
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Upgrade integration to main 2bfe3ccacf25b362c86dcbc405f21be8179a0ed6
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Upgrade integration to main d06c088e43bffd22b27e45f74b831759bdfa3334
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

fix: Add entity type filtering in Token and Account kv states
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/AccountReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/TokenReadableKVStateTest.java
Owners: @hashgraph/mirror-node

fix: Fix code smell
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/AccountReadableKVStateTest.java
Owners: @hashgraph/mirror-node

Apply spotless formatting to the whole project (#9840)
  buildSrc/src/main/kotlin/openapi-conventions.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/SpringApplicationContext.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/cache.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-test/k6/src/rest-java/libex/constants.js
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonPrecompileModificationFunctionsTemplate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferHbars.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDeleteToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileMintToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileNestedAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionHashParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionIdParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractResultRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EthereumTransactionRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/TransactionHashParameterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/PauseLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnpauseLogicTest.java
Owners: @hashgraph/mirror-node

chore: Updating action to step security maintained version. (#9844)
  .github/workflows/release-automation.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

style: apply spotless formatting
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
Owners: @hashgraph/mirror-node

style: apply spotlessMiscellaneous formatting
  README.md
  docs/configuration.md
  docs/database/bootstrap.md
  docs/development.md
  docs/runbook/create-disk-snapshot-for-citus-cluster.md
  docs/runbook/restore-citus-from-disk-snapshot.md
  docs/runbook/upgrade-k8s-version-citus-nodepool.md
  docs/web3/README.md
  hedera-mirror-rest/__tests__/specs/contracts/results/failed-ethereum-transaction.json
  hedera-mirror-test/k6/README.md
Owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/mirror-node

Remove unused secret
  .github/workflows/security.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node
