Repository hashgraph/hedera-mirror-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/mirror-node, @hashgraph/devops-ci, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

# Default code owners for entire repository
*   @hashgraph/mirror-node

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/mirror-node @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/mirror-node

# Codacy Tool Configurations
/config/                                        @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
.remarkrc                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

# Git Ignore definitions
**/.gitignore                                   @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node
**/.gitignore.*                                 @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/mirror-node

Suppress ConfigUtils warning on Kubernetes startup (#10043)
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
Owners: @hashgraph/mirror-node

Updates to record file domain and migrations to support new record file domain
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.102.0__add_block_columns.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.7.0__add_block_columns.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/ImporterIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBalanceTimestampMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBlockColumnsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ClearTokenMetadataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
Owners: @hashgraph/mirror-node

Move traffic-replay to tools folder
  .github/dependabot.yml
  build.gradle.kts
  tools/traffic-replay/README.md
  tools/traffic-replay/log-downloader/converter.js
  tools/traffic-replay/log-downloader/downloader.js
  tools/traffic-replay/log-downloader/index.js
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node, @hashgraph/release-engineering-managers

Generate valid secp256k1 key during key creation
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
Owners: @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Owners: @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test
  .github/workflows/gradle.yml
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test1
  .github/workflows/gradle.yml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test1
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test1
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Owners: @hashgraph/mirror-node

test1
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Owners: @hashgraph/mirror-node

test1
  .github/workflows/gradle.yml
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

test1
  .github/workflows/gradle.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Move traffic-replay to tools folder (#10045)
  .github/dependabot.yml
  build.gradle.kts
  tools/traffic-replay/README.md
  tools/traffic-replay/log-downloader/converter.js
  tools/traffic-replay/log-downloader/downloader.js
  tools/traffic-replay/log-downloader/index.js
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node, @hashgraph/release-engineering-managers

Generate valid secp256k1 key during key creation (#10051)
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
Owners: @hashgraph/mirror-node

Upgrade integration to main d7575a58a23e66a8a79645d4567211b34bfd3d59
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Upgrade mainnet-na to 0.120.1
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

stackgres 14.2 final changes
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values-v2.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/values-prod.yaml
Owners: @hashgraph/mirror-node

Upgrade mainnet-na to 0.120.1 (#10057)
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Deploy v0.120.1 to common,mainnet-citus in mainnet-eu
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Add docker buildkit configuration for docker buildx support
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Upgrade integration to main 6819dc4b40e05ba60402d66b4e700fd960516bae
  clusters/preprod/integration/helmrelease.yaml
Owners: @hashgraph/mirror-node

Deploy v0.120.1 to mainnet-eu (#10058)
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Owners: @hashgraph/mirror-node

Remove version from buildx docker config
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
Owners: @hashgraph/devops-ci, @hashgraph/mirror-node

Bump versions for v0.121.0-rc1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node

Bump versions for v0.122.0-SNAPSHOT
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node

Bump versions for v0.122.0-SNAPSHOT (#10060)
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Owners: @hashgraph/mirror-node
